extends layout/layout-admin

block css
    <!-- libraries -->
    link(href="/vendor/css/lib/font-awesome.css",rel="stylesheet")
    <!-- this page specific styles -->
    link(href="/vendor/css/compiled/new-user.css",rel="stylesheet",media="screen")
block content
    .content
        .container-fluid
            .new-user#pad-wrapper
                .row-fluid.header
                    h3 评论列表
                .row-fluid.table
                    table.table.table-hover
                        thead
                            tr
                                th 文章标题
                                th 评论内容
                                th 点赞数
                                th 回复数
                                th 发表时间
                                th 详情
                                th 删除
                        tbody
                            if comments && comments.length > 0
                                each item in comments
                                    tr(class="item-id-" + item._id)
                                        td #{item.topic.title}
                                        td #{item.content}
                                        td #{item.praise}
                                        td #{item.sub.length}
                                        td #{moment(item.meta.updateAt).format('YYYY/MM/DD-HH:MM')}
                                        td: a(href="/admin/comment-profile/"+item._id) 详情
                                        td: a.btn-flat.danger.del 删除


block script
    script.
      $(function () {
        $('.del').on('click', function () {
          var tr = $(this).parents('tr[class^="item-id-"]');
          var comment_id = tr[0].className.slice(8);
          console.log(comment_id);
          $.ajax({
            method: 'DELETE',
            url: '/comment/del/' + comment_id,
            success: function (data) {
              if (data.state === 'success') {
                tr.remove()
              }
            },
            error: function (err) {

            }
          })
        })
      })