extends layout/layout-front

block css
    link(href="/css/detailPage.css",rel="stylesheet")
block content
    input(id="content",type="hidden",value=topic._id)
    .detailPage
        .detail
            .title
                img(src="/img/medium-logo.png" alt="")
                div
                    p 君银天财会
                    p #{moment(topic.meta.updateAt).format('HH:MM')}
            .content !{topic.content}
            .sub
                span.fa.fa-thumbs-o-up#detail_thumb
                p: span#detail_num #{topic.praise}
        .hot-comments
            .title 热门评论
            .comments
                ul
                    if hot_comments && hot_comments.length > 0
                        each item in hot_comments
                            li(class="item-"+item._id)
                                .box
                                    .user-img: img(src="/img/was/user.png" alt="")
                                    .info
                                        p.name-box
                                            span.name 游客
                                            span.right
                                                a
                                                    span.fa.fa-thumbs-o-up.comment_thumbs
                                                    span.num #{item.praise}
                                                a.please
                                                    span.fa.fa-commenting-o
                                                    span.num #{item.sub.length}
                                        p.time #{moment(item.meta.createAt).format('YYYY-MM-DD HH:mm')}
                                        p.comment #{item.content}
                                        if item.sub&&item.sub.length>0
                                            .next-comment
                                                each sub in item.sub
                                                    p
                                                        span.name #{sub.name}
                                                        |:
                                                        span #{sub.content}
                                                    .up-arrow
        .all-comments
            .title
                |全部评论(
                span #{comments.length}
                |)
            .comments
                ul
                    if(comments && comments.length > 0)
                        each item in comments
                            li(class="item-"+item._id)
                                .box
                                    .user-img: img(src="/img/was/user.png" alt="")
                                    .info
                                        p.name-box
                                            span.name 游客
                                            span.right
                                                a
                                                    span.fa.fa-thumbs-o-up.comment_thumbs
                                                    span.num #{item.praise}
                                                a.please
                                                    span.fa.fa-commenting-o
                                                    span.num #{item.sub.length}
                                        p.time #{moment(item.meta.createAt).format('YYYY-MM-DD HH:mm')}
                                        p.comment #{item.content}
                                        if item.sub && item.sub.length > 0
                                            .next-comment
                                                each sub in item.sub
                                                    p
                                                        span.name #{sub.name}
                                                        | :
                                                        span #{sub.content}
                                                    .up-arrow
        .input-comment
            input(id="comment" type="text" placeholder="在这里发表评论")
            a.fa.fa-comment#detail_comment



block script
    script.
        $(function(){
          /**存储点赞的列表**/
          var praiseList =[];


          /**文章点赞**/
          $('#detail_thumb').on('click',function(){
            if(praiseList.indexOf('#{topic._id}')>-1){
              return alert('您已经点过赞了')
            }
            $.ajax({
              url:'/topic/praise/'+'#{topic._id}',
              success:function(data){
                if(data.state==='success'){
                  praiseList.push('#{topic._id}')
                  $('#detail_num').html(function(index,value){
                    return parseInt(value)+1
                  })
                }
              },
              error:function(err){
                console.log(err);
              }
            })
          })

          /**文章评论**/
          $('#detail_comment').on('click',function(){
            var content = $('#comment').val();
            if(content===''){
              alert('请输入评论内容，谢谢')
            }
            $.ajax({
              method:'POST',
              url:'/comment/new/',
              data:{
                topic:'#{topic._id}',
                content:content
              },
              success:function(data){
                if(data.state==='success'){
                  console.log(data.comment)

                  var item = data.comment
                  var htmlStr = '' +
                    '<li class="item-'+item._id+'">' +
                        '<div class="box">' +
                            '<div class="user-img"><img src="/img/was/user.png" alt=""></div>' +
                            '<div class="info">' +
                                '<p class="name-box"><span class="name">游客</span><span class="right"><a><span class="fa fa-thumbs-o-up comment_thumbs"></span><span class="num">0</span></a><a class="please"><span class="fa fa-commenting-o"></span><span class="num">0</span></a></span></p>'+
                                '<p class="time">'+data.time+'</p>'+
                                '<p class="comment">'+item.content+'</p>'+
                            '</div>'+
                        '</div>'+
                    '</li>';
                  $('.comments ul').eq(1).append(htmlStr);
                  var scrollH = document.body.scrollHeight;
                  var screenH = document.documentElement.clientHeight || document.body.clientHeight;
                  var deltaH = scrollH - screenH;
                  $(document).scrollTop(deltaH);
                }
              },
              error:function(err){
                console.log(err)
              }
            })
          })

          /**评论点赞**/
          $('.comments').on('click',function(e){
            if(e.target.className.indexOf('comment_thumbs')===-1){return}
            var className = '.'+$(e.target).parents('li[class^="item-"]').attr('class');
            var comment_id = className.split('-')[1];
            if (praiseList.indexOf(comment_id) > -1) {
              return alert('您已经点过赞了')
            }
            $.ajax({
              url: '/comment/praise/' + comment_id,
              success: function (data) {
                if (data.state === 'success') {
                  praiseList.push(comment_id)
                  $(className)
                    .find('.comment_thumbs')
                    .next()
                    .html(function (index, value) {
                        return parseInt(value) + 1
                    })
                }
              },
              error: function (err) {
                console.log(err);
              }
            })
          })

          function zxt(){

          }
        })

